02_RGB Control via UI and MQTT/RGB Control via UI and MQTT.json
[
    {
        "id": "ab4d261c51a50f93",
        "type": "tab",
        "label": "RGB Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b22aae0bf94df5c",
        "type": "ui_slider",
        "z": "ab4d261c51a50f93",
        "name": "",
        "label": "R",
        "tooltip": "",
        "group": "b2ab096fb98e724d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "bd0a5cf622670956",
                "30c5fe27b57e1c40"
            ]
        ]
    },
    {
        "id": "34a1740f371669aa",
        "type": "ui_text",
        "z": "ab4d261c51a50f93",
        "group": "b2ab096fb98e724d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Red",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "70c8f8e997dc8364",
        "type": "ui_text",
        "z": "ab4d261c51a50f93",
        "group": "b2ab096fb98e724d",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Green",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "556942c7eb6f1167",
        "type": "ui_slider",
        "z": "ab4d261c51a50f93",
        "name": "",
        "label": "G",
        "tooltip": "",
        "group": "b2ab096fb98e724d",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "9a277bee147fe04e",
                "e9f220cf9904f5b5"
            ]
        ]
    },
    {
        "id": "4f8479d8697b46b9",
        "type": "ui_text",
        "z": "ab4d261c51a50f93",
        "group": "b2ab096fb98e724d",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Control Blue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "6b7ad8c616dbbd4a",
        "type": "ui_slider",
        "z": "ab4d261c51a50f93",
        "name": "",
        "label": "B",
        "tooltip": "",
        "group": "b2ab096fb98e724d",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "038951ed32ec5acb",
                "391b6f9da675ea8f"
            ]
        ]
    },
    {
        "id": "bd0a5cf622670956",
        "type": "debug",
        "z": "ab4d261c51a50f93",
        "name": "debug R",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "9a277bee147fe04e",
        "type": "debug",
        "z": "ab4d261c51a50f93",
        "name": "debug G",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 200,
        "wires": []
    },
    {
        "id": "038951ed32ec5acb",
        "type": "debug",
        "z": "ab4d261c51a50f93",
        "name": "debug B",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "30c5fe27b57e1c40",
        "type": "mqtt out",
        "z": "ab4d261c51a50f93",
        "name": "",
        "topic": "/RED/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e83622a12bcad81b",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9f220cf9904f5b5",
        "type": "mqtt out",
        "z": "ab4d261c51a50f93",
        "name": "",
        "topic": "/GREEN/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e83622a12bcad81b",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "391b6f9da675ea8f",
        "type": "mqtt out",
        "z": "ab4d261c51a50f93",
        "name": "",
        "topic": "/BLUE/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e83622a12bcad81b",
        "x": 340,
        "y": 340,
        "wires": []
    },
    {
        "id": "ec832357d125b038",
        "type": "ui_text",
        "z": "ab4d261c51a50f93",
        "group": "b2ab096fb98e724d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Set Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "3f3b1a655a7f57bf",
        "type": "mqtt out",
        "z": "ab4d261c51a50f93",
        "name": "",
        "topic": "/MODE/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e83622a12bcad81b",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "7e96c7014adec488",
        "type": "debug",
        "z": "ab4d261c51a50f93",
        "name": "debug Mode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "1cddab1b63f0d980",
        "type": "ui_button",
        "z": "ab4d261c51a50f93",
        "name": "",
        "group": "b2ab096fb98e724d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "7e96c7014adec488",
                "3f3b1a655a7f57bf"
            ]
        ]
    },
    {
        "id": "74d4fdd074e86c51",
        "type": "ui_button",
        "z": "ab4d261c51a50f93",
        "name": "",
        "group": "b2ab096fb98e724d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Color Wipe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "7e96c7014adec488",
                "3f3b1a655a7f57bf"
            ]
        ]
    },
    {
        "id": "2ac7c2ba9fe1e7f8",
        "type": "ui_button",
        "z": "ab4d261c51a50f93",
        "name": "",
        "group": "b2ab096fb98e724d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Theater Chase",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "3f3b1a655a7f57bf",
                "7e96c7014adec488"
            ]
        ]
    },
    {
        "id": "52a96140407265d1",
        "type": "ui_button",
        "z": "ab4d261c51a50f93",
        "name": "",
        "group": "b2ab096fb98e724d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rainbow",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "3f3b1a655a7f57bf",
                "7e96c7014adec488"
            ]
        ]
    },
    {
        "id": "b0f45ef5397c2051",
        "type": "comment",
        "z": "ab4d261c51a50f93",
        "name": "UI sliders for controlling RGB Neopixels over MQTT",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "7eede9504bcaefc8",
        "type": "comment",
        "z": "ab4d261c51a50f93",
        "name": "Trigger Neopixel functions using UI buttons",
        "info": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "474e988c05b524e7",
        "type": "ui_spacer",
        "z": "ab4d261c51a50f93",
        "name": "spacer",
        "group": "b2ab096fb98e724d",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "c8227bf451716e05",
        "type": "ui_spacer",
        "z": "ab4d261c51a50f93",
        "name": "spacer",
        "group": "b2ab096fb98e724d",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "e5cfbe4d87e23a73",
        "type": "ui_spacer",
        "z": "ab4d261c51a50f93",
        "name": "spacer",
        "group": "b2ab096fb98e724d",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "b2ab096fb98e724d",
        "type": "ui_group",
        "name": "RGB Control",
        "tab": "79981324ed07e727",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e83622a12bcad81b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "Example",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79981324ed07e727",
        "type": "ui_tab",
        "name": "RGB Control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]